.header {
  height: 90px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  transition: background-color 1s, color 1s;
}

.logodiv {
  max-width: 50%;
  margin: auto;
  padding: 0 20px;
  transition: max-width 1s;
}

.filter {
  display: block;
  margin-bottom: 30px;
  margin-top: -50px;
  text-align: right;
}

.logo {
  width: 60px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: filter 1s;
}

.footdogs {
  margin: 0 5px;
  text-decoration: none;
  transition: color 1s;
}

.Top {
  display: absolute;
  max-width: 50%;
  margin: auto;
  padding: 0 20px;
  padding-inline-start: 0;
  transition: max-width 1s;
}

.content {
  max-width:100%;
  margin:auto;
}

.image {
  width: 60px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rssFeed {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
  padding-inline-start: 0%;
}

.unordered {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
  padding-inline-start: inherit;
} 

body {
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono', Monospace, Courier;
  font-weight: 400;
  font-size: 17px;
  transition: background-color 1s, color 1s;
}

a {
   transition: color 1s;
}

span {
   transition: color 1s;
}

div {
  display: block;
}

li {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media only screen and (max-width: 800px) {
  .logodiv {
    max-width: 83%;
  }
  .logo {
    width: 0%;
    align-self: end;
  }
  .filter {
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }
  .Top {
    max-width: 83%;
    padding: 0 0px;
  }
}

@media (prefers-color-scheme:dark) {
  .header {
    border-bottom: dotted 1px rgb(106, 194, 182);
    background-color: #050505;
  }
  .logo {
    filter: invert(0);
  }
  .footdogs {
    color: #ffffff; 
  }
  body {
    color: #ffffff;
    background-color: #050505;;
  }
  body:visited {
    color: rgb(78, 161, 150);
  }
  
  body:link {
    color: rgb(106, 194, 182);
  }
  a {
    text-decoration: none;
    color: rgb(106, 194, 182);
  }
  a:hover {
    color: rgb(131, 216, 205); 
    text-decoration: underline;
  }
}

@media (prefers-color-scheme:light) {
  .header {
    border-bottom: dotted 1px rgb(78, 161, 150);
    background-color: #ffffff;
  }
  .logo {
    filter: invert(1);
  }
  .footdogs {
    color: #050505; 
  }
  body {
    color: #050505;
    background-color: #ffffff;;
  }
  body:visited {
    color: rgb(45, 119, 109);
  }
  
  body:link {
    color: rgb(78, 161, 150);
  }
  a {
    text-decoration: none;
    color: rgb(78, 161, 150);
  }
  a:hover {
    color: rgb(131, 216, 205); 
    text-decoration: underline;
  }
}