body {
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono', Monospace, Courier;
  font-weight: 400;
  font-size: 17px;
  color: #c8c8c8;
  background-color: #7e6539;;
}

body:visited {
  color: rgb(223, 172, 19);
}

body:link {
  color: #fff;
}

.footer{
  display: flex;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 25%;
  text-align: left;
  height: 70px;
  color: #fff;
}
.header {
  height: 90px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: dotted 1px #444;
  background-color: #c5a262;
}
div {
  display: block;
}
.logodiv {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}
.filter {
  display: block;
  margin-bottom: 30px;
  margin-top: -50px;
  text-align: right;
}
.footdogs {
  margin: 0 5px;
}
.logo {
  width: 60px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px #FFF;
}
.Top {
  display: absolute;
}



