body {
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono', Monospace, Courier;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  background-color: #050505;;
}

body:visited {
  color: rgb(78, 161, 150);
}

body:link {
  color: rgb(106, 194, 182);
}

span {
  overflow-x: auto;
}

.footer{
  display: flex;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 25%;
  text-align: left;
  height: 70px;
  color: #c8c8c8;
}

.header {
  height: 90px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: dotted 1px rgb(106, 194, 182);
  background-color: #050505;
}

div {
  display: block;
}

.logodiv {
  max-width: 50%;
  margin: auto;
  padding: 0 20px;
}

.filter {
  display: block;
  margin-bottom: 30px;
  margin-top: -50px;
  text-align: right;
}

.footdogs {
  margin: 0 5px;
  color: white; 
  text-decoration: none;
}

.logo {
  width: 60px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Top {
  display: absolute;
  max-width: 50%;
  margin: auto;
  padding: 0 20px;
  padding-inline-start: 0;
  overflow-x: auto;
}

.content {
  max-width:100%;
  margin:auto;
}

.rssFeed {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
  padding-inline-start: 0%;
}

.unordered {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
  padding-inline-start: inherit;
} 

li {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
    color: rgb(106, 194, 182);
}
a:hover {
  color: rgb(131, 216, 205); 
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .Top {
    max-width: 83%;
  }
  .logodiv {
    max-width: 83%;
  }
  .logo {
    width: 0%;
    align-self: end;
  }
  .filter {
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }
}